<div class="profile">
    <div class="card">
        <div class="pure-g">
            <div class="avatar-cont pure-u-1 pure-u-md-1-2">
                <div class="avatar pure-img"></div>
            </div>
            <div class="summary pure-u-1 pure-u-md-1-2">
                <div class="pure-u-1-1">
                    <p>Full</p>
                </div>
                <div class="pure-u-1-3">
                    <p>Thirds</p>
                </div>
                <div class="pure-u-1-3">
                    <p>Thirds</p>
                </div>
                <div class="pure-u-1-3">
                    <p>Thirds</p>
                </div>
            </div>
        </div>
    </div>
</div>